# Idea Project
.idea/

# Python
__pycache__
# The current virtual enviorment config is located outside of the project, no need to ignore.

sparta/local_settings.py

.github

rullet_generator.py
rullet_no_generator.py
async_prac.py

prac/
